@model LocationOfDeviceViewModel
@{
}

<div>
    <p><label>Loocation of:</label><span>@Model.DisplayName</span></p>
    <p><label>Latitude:</label><span>@Model.Latitude</span></p>
    <p><label>Longitude:</label><span>@Model.Longitude</span></p>
</div>
